<head>
  	
  	<title>Leo Smart Home</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
</head>

<body>
	{{> header}}	
	{{> route}}
	{{> menu}}
</body>
