.blueButton{	
	background-color: #B2C629 !important;
	color: white !important;
	border: 1px solid white !important;
}
.ui.form input[type="text"]:focus{
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
}
input{
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
}
input{
	border:0!important;	
	border-top:1px solid #B2C629 !important; 
	border-bottom:1px solid #B2C629 !important; 
	border-radius: 0px!important;
}
.containerRoom{
	margin-top: 20px;
	overflow-y: scroll;
	height: auto;
	padding-bottom: 10px;
}
.formBox{
	border:1px solid #B2C629 !important; 
	border-radius: 0px !important;
}
.field{
	border:0px;
}
.buttonRed{
	width: 80% !important;
	background-color: white !important;
	color: red  !important;
	border: 1px solid red !important;
}
.buttonBlue,.whiteButton{
	width: 80% !important;
	background-color: white !important;
	color: #B2C629  !important;
	border: 1px solid #B2C629 !important;
}
.yellowButton{
	width: 80% !important;
	background-color: #F3B929 !important;
	color: white  !important;
	border: 1px solid #F3B929 !important;
}
.blue {
	background-color: #B2C629;
	color: white !important;
}
.eulb {
	color: #B2C629;
	background-color: white;
}
.buttonSize{
	margin-left: 10% !important;
	width: 80% !important;	
	text-align: center;
	text-decoration: none;
	padding:0.8em 0em !important;
	text-align: center;
}
 a:link,.whitetext a:visited,.whitetext a:hover,.whitetext a:active {
   text-decoration: none !important;
}
.whitetext,.whitetext a:link,.whitetext a:visited,.whitetext a:hover,.whitetext a:active {
   color: white !important;
   text-decoration: none !important;
}
.bluetext,.bluetext a:link,.bluetext a:visited,.bluetext a:hover,.bluetext a:active {
   color: #B2C629 !important;
   text-decoration: none !important;
}
.blacktext,.blacktext a:link,.blacktext a:visited,.blacktext a:hover,.blacktext a:active {
   color: black !important;
   text-decoration: none !important;
   font-weight: lighter!important;
}
.textCenter{
	text-align: center !important;
}
.hidden{
	display: none !important;
}
.ui.error.message{
	display: none;
}
.static{
	position: absolute;
	left: 0px;
	top: 0px;
}
@font-face {
	font-family: 'Icons';
	src: url(/fonts/icons.eot);
	src: url(/fonts/icons.eot?#iefix) format('embedded-opentype'), url(/fonts/icons.woff) format('woff'), url(/fonts/icons.ttf) format('truetype'), url(/fonts/icons.svg#icons) format('svg');
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: inherit;
	text-transform: none;
}
.hidden{
	display: none;
}
.lowOpacity{
	opacity: 0.4;
	font-weight: lighter;
}
.noMargin{
	margin:0px !important;
	margin-left: 10px !important;
	font-size: 35px !important;
}
.item{
	text-transform: capitalize!important;
	padding-bottom: 5px !important;
}
.inputtext{
	width: 85% !important;
}
hr{
	border: 0;
	color: #CBC8C2;
	background-color: #CBC8C2;
	height: 1px;
	width: 85%;
	text-align: right;
	margin-left: 3em;

}
.errorMessage{
	min-height: 20px;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-top: 10px;
}
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
body{
	font-family: arial !important;
}
::-webkit-scrollbar,
	::-webkit-scrollbar-button:start:increment,
	::-webkit-scrollbar-button:start:decrement,
	::-webkit-scrollbar-button:end:increment,
	::-webkit-scrollbar-button:end:decrement {
	
		width: 9px;
		height: 9px;
		display: none;
	
	}
	
	::-webkit-scrollbar,
	::-webkit-scrollbar-button:start:decrement,
	::-webkit-scrollbar-button:end:increment {
	
		display: none;
		    
	}
	
	::-webkit-scrollbar-track {
	
		border-radius: 4.5px;
		-moz-border-radius: 4.5px;
 		-webkit-border-radius: 4.5px;
		background: rgba(0, 0, 0, .15);
			display: none;
	
	}
	
	::-webkit-scrollbar-thumb {
	
		border-radius: 4.5px;
		background: rgba(0, 0, 0, .25);
		border: 1px inset rgba(0, 0, 0, .15);
		
		-webkit-transition: background-color 2.5s linear;
	
	}
	
	:hover::-webkit-scrollbar-thumb {
	
		background: rgba(0, 0, 0, .35);
	
	}
/* SEMANTIC ANIMATION */
/* Shake */
.shake {
	-webkit-animation-name: shake;
	animation-name: shake;

	-webkit-animation-iteration-count: 2;
	-moz-animation-iteration-count: 2;
	animation-iteration-count: 2;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

/* Bounce */
.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;

	-webkit-animation-iteration-count: 2;
	-moz-animation-iteration-count: 2;
	animation-iteration-count: 2;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* Tada */
.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
	
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes tada {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	10%, 20% {
		-webkit-transform: scale(0.9) rotate(-3deg);
		transform: scale(0.9) rotate(-3deg);
	}

	30%, 50%, 70%, 90% {
		-webkit-transform: scale(1.1) rotate(3deg);
		transform: scale(1.1) rotate(3deg);
	}

	40%, 60%, 80% {
		-webkit-transform: scale(1.1) rotate(-3deg);
		transform: scale(1.1) rotate(-3deg);
	}

	100% {
		-webkit-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0);
	}
}

@keyframes tada {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	10%, 20% {
		-webkit-transform: scale(0.9) rotate(-3deg);
		-ms-transform: scale(0.9) rotate(-3deg);
		transform: scale(0.9) rotate(-3deg);
	}

	30%, 50%, 70%, 90% {
		-webkit-transform: scale(1.1) rotate(3deg);
		-ms-transform: scale(1.1) rotate(3deg);
		transform: scale(1.1) rotate(3deg);
	}

	40%, 60%, 80% {
		-webkit-transform: scale(1.1) rotate(-3deg);
		-ms-transform: scale(1.1) rotate(-3deg);
		transform: scale(1.1) rotate(-3deg);
	}

	100% {
		-webkit-transform: scale(1) rotate(0);
		-ms-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0);
	}
}

/* Pulse */
.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	/*-webkit-animation-iteration-count: 2;
	-moz-animation-iteration-count: 2;
	animation-iteration-count: 2;*/
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}

	50% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
		opacity: 0.7;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}

	50% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
		opacity: 0.7;
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
