
.overlay{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;	
	left: 0;
	z-index: 10;
	/*background: gray;*/
}
#roomSettings .label{
	width: 100%;
}
#roomSettings .label{
	background-color: white;
	border-top:1px solid #B2C629 !important; 
	border-bottom:1px solid #B2C629 !important; 
	border-radius: 0;
	height: 41px;
	padding-top	: 10px;
	font-size: 15px; 
}
#roomSettings .label i{
	margin-top: -15px;
}
#roomSettings{
	z-index: 15;
	width: 96%;
	position: absolute;
	  top: 40%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
}
