<template name="roomSettings">
	{{#if roomSettings}}
	<div class="overlay"></div>
	<div id="roomSettings">
		<div class="roomSettingsclose"><i class="remove icon bluetext floatRight"></i></div>
		<div class="ui large form segment formBox">
            <div class="two fields" nameId="{{_id}}">
                <div class="field">
                    <label>Room Name <i class="pencil icon bluetext floatRight"></i></label>
                    <input id="" placeholder="room" class="roomName" type="text" value="{{room.name}}" readonly="">
                </div>   
                <div class="field">
					<label>Floor <i class="pencil icon bluetext floatRight"></i></label>
					<input id="roomNo" placeholder="0" class="floorNo" type="number" min="0" value="{{room.floorNo}}" readonly="">
				</div> 
				<!-- <div class="field">
					<label>Type <i class="save icon bluetext floatRight" readonly=""></i></label>
					<input id="" placeholder="0" class="file" type="file">
				</div>  -->
				<div class="field">
					<div class="ui dropdown label">
                		<label>Type</label>
					  	<div class="text"></div>
					  	<i class="dropdown icon"></i>
					  	<div class="menu selectRoomType">
					  		<li id="bedroom" class="item">Bed Room</li>
					  		<li id="bathroom" class="item">Bathroom</li>
					  		<li id="kitchen" class="item">Kitchen</li>
					  		<li id="livingRoom" class="item">Living Room</li>
					  		<li id="garrage" class="item">Garrage</li>
					  		<li id="playRoom" class="item">Play Room</li>
					  		<li id="storeRoom" class="item">Store Room</li>
						</div>
					</div>
				</div>   
				<!-- <div class="field">
					<label>File <i class="save icon bluetext floatRight"></i></label>
					<input id="" placeholder="0" class="file" type="file" >
				</div>   --> 
				<div class="field hidden">
                    <label>id </label>
                    <input id="" placeholder="" type="text" value="">
                </div>          
            </div>
        </div> 
	</div>
	{{/if}}
</template>