<template name="editroom"> 
	<div class="container containerRoom" id="editroom">	
 		{{#each relay}}
			<div class="eachButton">
			<div class="buttonSettingsButton">
				<i class="icon settings"></i>
			</div>
		</div>
 		{{/each}}
 	</div>
</template>

<!-- {{#if relay}}
 		{{else}}
 			<div class="ifEmpty">
 				<img src="images/smart_home_splash.png">
 			</div>
 		{{/if}} -->