<template name="home"> 
	<div class="container containerRoom" id="homePage"> 
		{{> roomSettings}}
		<div class="">      	
	   		{{#each home}}
				<a href="#room/{{_id}}"><div class="HomeName blacktext"><i class="large home icon"></i>{{homeName}}</div> </a>
				<div class="">
					{{#each room}}
						<div class="RoomName">
          					<div roomId="{{_id}}" class="roomSettingsButton">
          						<i class="icon settings"></i>
          					</div>                                   
						      <a href="#room/{{_id}}">                                        
               					<div id="hiddenId" class="hidden">{{_id}}</div>
                                        {{#if type}}
                                             <img src="images/room/{{type}}.png" />
                                        {{/if}}
               					<div class="blacktext">{{name}}</div>
          				      </a>
          				</div>
          			{{/each}}
          			{{#if room}}
          				<div class="RoomName">
          					<div class="roomSettingsButton">
          						<i class="icon settings"></i>
          					</div>
						<a href="#room/{{_id}}">          					
          					<div  class="hidden"></div>
          					<div class="blacktext">All Lights </div>
          				</a>
          				</div>
          			{{else}}
          				<div class="ifEmpty">
			 				<img src="images/smart_home_splash.png">
			 			</div>
          			{{/if}}
        		</div>
			{{/each}}
    	     </div>
	</div>
     
</template>