.HomeName{
	height: 45px;
	width: 100%;
	text-align: center;
	font-family: arial;
}
.RoomName{
	float: left;
	margin: 5px;
	width: 150px;
	height: 100px;
	/*background-color: red;*/
	padding: 5px;	
}
.roomSettingsButton{
	position: relative;
	margin-left: 120px;
}
#homePage .ifEmpty img{
	width: 100%;
	position: relative;
  	margin-top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);	
}