.activeSlider{

}

.userImg{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 1px solid white;
	margin: 0;
	padding: 0;
	float:left;
	margin-left: -40px;
	margin-top: -5px;
	background: white;
}
.settings img{
	width: 1.5rem;
}
.settings{
	float: right;
	font-size: 30px;
	margin-left: 65%;
	position: absolute;
	top: 10px;
}
#menu{
	background-color: #B2C629;
	overflow-y: scroll;
	position: fixed;
	width: 60px;
	height: 40px;
	-webkit-transition : all 0.5s cubic-bezier(0.1, 0.7, 0.1, 1) !important;
	-moz-transition : all 0.5s cubic-bezier(0.1, 0.7, 0.1, 1) !important;
	transition : all 0.5s cubic-bezier(0.1, 0.7, 0.1, 1) !important;
	margin-left: -275px !important;
}
.userName{
}
#logOutIn{
	margin-top: 20px !important;
	
}
.activeMenuButton {
	margin-left : 275px;
	z-index: 5;
}
#logInButton{
	left: 0;
	position: relative;
	margin-top: 10px;
	margin-left: 0px !important;
}
#signUp{
	left: 0;
	position: relative;
	margin-top: 20px;
	margin-left: 0px !important;
}
#logoutButton{
	left: 0;
	position: absolute;
	margin-top: 20px;
}
#menu .listItem{
	width: 95%;
	height: 60px !important;
	/*margin-left:15%;*/
	margin-top: 8px;
	padding-left: 50px;
	font-weight: bold;
	text-align: left !important;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}
.userDetails{

}
.menuOverlay{
	position: fixed;
	height: 100%;
	width: 100%;
	top:0;
	display: none;
}
