<template name="menu">
    <div class="ui large vertical inverted labeled icon sidebar menu" id="menu">


        <a class="item  listItem" href="#home">Home</a>
        {{#if isInRole 'admin'}}
            <a class="item  listItem" href="#addhome">Add home</a>
        {{/if}}
        {{#if currentUser}}
            <div id="logoutButton" class="ui button blueButton buttonSize whitetext" style="">
                <a class="" href="#home">Log out</a>
            </div>
        {{else}}  

        <a href="#login">
            <div id="logInButton" class="buttonSize ui button blueButton whitetext" >
                Log in
            </div>  
        </a>
        
        {{/if}}
        {{#if isInRole 'admin'}}
            <a class="" href="#register">
                <div id="signUp" class="buttonSize ui button  bluetext whiteButton" >
                    Sign up
                </div>  
            </a>
        {{/if}} 
    </div>
</template>