<template name="addhome"> 
	<div class="containerRoom">
		<div class="ui large form segment formBox">
			<div class="two fields">
				<div class="field">
					<label>Home Name</label>
					<input id="homeName" placeholder="Leo Home" type="text">
				</div>
				<div class="field">
					<label>No of Rooms</label>
					<input id="roomNo" placeholder="1" type="number" min="1" value="1">
				</div>
				<div class="field">
					<label>IP ADDRESS</label>
					<input id="homeIP" placeholder="(192.168.1.100)" type="text">
				</div>
				<div class="field">
					<label>PORT</label>
					<input id="homePort" placeholder="80" type="text">
				</div>
				<div class="field">
					<label>PASSWORD</label>
					<input id="homePass" placeholder="admin" type="text">
				</div>
			</div>
			<div id="addHome" class="ui blue submit button blueButton buttonSize">Submit</div>
		</div>
	</div>
</template>