<template name="room"> 
	<div class="container containerRoom" id="room">	
		{{> buttonSettings}}
		<div class="fullScreen textCenter floatLeft">           
 		{{#each relay}}
			<div class="eachButton">
				<div class="buttonSettingsButton ">
					<i class="icon settings"></i>
				</div>
			<center>
				<div class="eachButtonImg onOff {{#if State}}greenBox {{else}} redBox {{/if}}">
					{{#if type}}
                     	<img src="images/buttons/{{type}}.png" />
                    {{/if}}
                </div>
				<div class="ui {{#if State}}blueButton {{else}} whiteButton {{/if}} button onOff buttonSize" nameId="{{_id}}">
					<!-- {{#if NickName}}
						{{NickName}}
					{{else}} -->
						{{Name}}
					<!-- {{/if}} -->
				</div>
			</center>		
		</div>
 		{{/each}}
 	</div>
		{{#if relay}}
		<a href="#schedule">
			<div class="fullScreen textCenter floatLeft">
                <div class="ui  whiteButton button buttonSize">
					Scheduling the Switches
				</div>
        	</div>			
        </a>
	 		{{else}}
	 			<div class="ifEmpty">
	 				<img src="images/smart_home_splash.png">
	 			</div>
	 	{{/if}}
 	</div>
 	
</template>
