.eachButton{
	float: left;
	width: 150px;
	/*background-color: red;*/
	height: 100px;
	padding: 5px;
	margin: 5px;
}
.eachButton .whiteButton,.eachButton .blueButton{
	margin: 5px;
}
.buttonSettingsButton{
	position: relative;
	margin-left: 140px;
}
#room .ifEmpty img{
	width: 100%;
	position: relative;
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);	
}
#room .eachButtonImg img{
	max-height: 98%;
	max-width: 98%;
	border-radius: 8px;
}
#room .redBox {
	background-color: red;
}
#room .greenBox {
	background-color: green
}
#room .eachButtonImg {
	width: 50px;
	height: 50px;
	/*background-color: red;*/
	border-radius: 3px;
	/*border: 2px solid rgba(0,0,0,0.05);*/
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.fullScreen{
	width: 100%;
}
.floatLeft{
	float: left;
}