<template name="register"> 
    <form onsubmit="">
        <div class="container containerRoom">
            
            <div class="errorMessage">
                <div class="ui error message">
                    <div class="header">Action Forbidden</div>
                    <p>You can only sign up for an account once with a given e-mail address.</p>
                </div>
            </div>
            <div class="ui large form segment formBox">
                <div class="two fields">
                    <div class="field">
                        <label>Username</label>
                        <input id="registerUsername" placeholder="username" type="text">
                    </div>
                    <div class="field">
                        <label>E-mail</label>
                        <input id="registerEmail" placeholder="email" type="text">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input id="registerPassword" placeholder="password" type="password">
                    </div>
                    <div class="field">
                        <label>Select Home</label>
                        <div id="dropdownRegister" class="ui fluid selection dropdown active visible">
                            <div class="text" >Select Home</div>
                            <i class="dropdown icon"></i>
                            <input id="selectHome" type="hidden" name="gender">
                                <div class="menu ui transition visible">
                                {{#each home}}
                                    <div class="item selectHome" data-value="{{homeName}}">{{homeName}}</div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div id="registerButton" class="blueButton button ui buttonSize  whitetext">
                        Sign up         
                    </div>
                    <a class="item" href="#login">
                        <div  id="alreadyA" class="buttonBlue button ui buttonSize bluetext">
                            Already have and account?    
                        </div>
                    </a>
                </div>
            </div>
        </div>    
    </form >
             
</template>
