#header{
	position: relative;
	background-color: black;
	color: #B2C629;
	height: 42px;
	top: 0;
	left: 0;
}
#backButton{
	display: none;
	font-size: 25px !important;
	color: #11BAAC !important;
	font-weight: bold !important;
	position: absolute;
}
#menuButton {
	padding: 0;
	width: 60px;
	padding-top:5px; 
	position: fixed;
	top: 0;
}
#menuButton img{
	width: 60px;
	height: 45px;
	padding: 0;
}

#menuButton:hover{
	color: #11BAAC;
}
.title{
	width: 85%;
	left: 65px;
	top: 10px;
}
#header .container 
{
	height: 55px;
	position: fixed;
	width: 100%;
	background: black;
	top: 0;
	font-family: arial;
	left: 0;
	overflow: hidden;
}
#header .container  .bluetext .add{
	right: 15px;
	position: absolute;
}
#header .container  .bluetext i{
	font-size: 1.2em;
}

#header .container  .bluetext div{
	float: left;
	background-color: black;
}
#header .container  .bluetext .divi{
	width: 1.9rem;
}
#header .container  .bluetext .divi2{
	float: right;
	position: absolute;
	right: 1px;
}

#header .container  .bluetext .divi img{
	height: 1rem;
}
#header .container  .bluetext .divh{
	width: 80%;
	overflow-x:auto; 
	overflow-y:hidden; 

}
-webkit-scrollbar { 
    display: none; 
}
.overx{
	width: 200%;
	overflow-x:scroll; 
}
#header .container  .bluetext{
	font-size: 1.2rem !important;
	height: 50px;
	overflow: hidden;
	position: fixed;
	background: black;
	top: 0;
	overflow: hidden;
	padding-left: 0;
	border-bottom:1px solid #B2C629 !important;
}
@font-face {
    font-family: PoetsenOne;
    src: url(fonts/PoetsenOne-Regular.ttf);
}