<template name="header"> 
	<div id="menuButton" class="launch item" href="#home">
	        	<img src="images/logo.png">
	        </div>
	<div id="header" class="ui fixed transparent inverted main menu">
	    <div class="container">
	        <div id="menuButton" class="launch item" href="#home">
	        	<img src="images/logo.png">
	        </div>
	        <div class="title item bluetext">
        		<b>Leo Smart Home</b>
      		</div>
	    </div>
	</div>
</template>