<template name="schedule">
	<div id="schedule">
		<div class="ui fluid form segment">
		  	<div class="two fields">
		    	<div class="field">
		      		<label>Buttons Name</label>
		      			{{#each relay}}
				  			<div class="ui checkbox">
					          	<input nameId="{{_id}}" type="checkbox">
					          	<label>{{Name}}</label>
					        </div>
						{{/each}}
		    	</div>
		    	<div class="field">
		      		<label>Week Days</label>
		      		<div class="ui checkbox">
			          	<input type="checkbox">
			          	<label>Sun</label>
			        </div>
			        <div class="ui checkbox">
			          	<input type="checkbox">
			          	<label>Mon</label>
			        </div>
			        <div class="ui checkbox">
			          	<input type="checkbox">
			          	<label>Tue</label>
			        </div>
			        <div class="ui checkbox">
			          	<input type="checkbox">
			          	<label>Wed</label>
			        </div>
			        <div class="ui checkbox">
			          	<input type="checkbox">
			          	<label>Thu</label>
			        </div>
			        <div class="ui checkbox">
			          	<input type="checkbox">
			          	<label>Fri</label>
			        </div>
			        <div class="ui checkbox">
			          	<input type="checkbox">
			          	<label>Sat</label>
			        </div>
		    	</div>
		    	<div class="field">
		      		<label>State</label>
		      		<div class="ui form">
					  	<div class="grouped inline fields">
					    	<div class="field">
					      		<div class="ui radio checkbox">
					        		<input id="choice-1" type="radio" name="fruit" checked="">
					        		<label for="choice-1">On</label>
					      		</div>
					      		<div class="ui radio checkbox">
					        		<input id="choice-2" type="radio" name="fruit">
					        		<label for="choice-2">Off</label>
					      		</div>
					    	</div>
					  	</div>
					</div>
		    	</div>
		    	<div class="field">
		      		<label>Date</label>
		      		<div class="field">
    					<input type="date" name="hrs" min="2014-01-01"  max="2114-01-01" >
    				</div>
		    	</div>
		    	<div class="field">
		      		<label>Time</label>
		      		<div class="field">
    					<input type="number" name="hrs" min="0" max="23" value="0">
    					<input type="number" name="min" min="0" max="59" value="0">
    				</div>
		    	</div>

		  	</div>
			 <div class="ui blue submit button">Submit</div>
		</div>

		
	</div>
	<div class="ui celled grid">
  		<div class="row">
    		<div class=" column" style="">
      			Switches
	    	</div>
    		<div class=" column" style="">
      			Weak Days
	    	</div>
    		<div class=" column" style="">
      			State
	    	</div>
    		<div class=" column" style="">
      			Date
	    	</div>
    		<div class="column" style="">
      			Time
	    	</div>
    		<div class=" column textCenter bluetext" style="">
      			Remove
	    	</div>
	    	
  		</div>
  		<div class="row">
    		<div class=" column hidden" style="">
      			
	    	</div>
    		<div class="column" style="">
      			
	    	</div>
    		<div class=" column" style="">
      			
	    	</div>
    		<div class=" column" style="">
      			
	    	</div>
    		<div class=" column" style="">
      			
	    	</div>
    		<div class=" column" style="">
      			
	    	</div>
    		<div class=" column textCenter bluetext" style="">
      			<label>
      				<i class="icon remove"></i>
      			</label>
	    	</div>
	    	
  		</div>
	  
	</div>
</template>