.loginForm{
	position: absolute;
	bottom: 20%;
	left: 15%;
	width: 70%;
}
#haveAnAcc{
	position: relative;	
	bottom:2%;
	text-align:center;
	margin-top: 10px;
}
#loginButton{
	position: relative;	
	bottom:10%;
	text-align:center;
	margin-top: 20px;
}
.loginPage{
	margin-top: 0%;
	font-size: 1.25em;
	border-bottom:1px solid #CBC8C2 !important;
}
.forgot{
	padding-top: 5%;
}
#loginContent{
	height: 100%;
	width: 100%;
	font-family: a;
	/*position: fixed;*/
}

.loginPage .listItem div img{
	width: 1.5rem;
	padding-top: 10px; 
	padding-left: 10px; 

}
.loginPage .listItem div{
	float: left;
	height: 100%;
}
.loginPage .listItem div input{
	width: 100% !important;	
}