<template name="login">
    <div class="main containerRoom container  page" id="loginContent"> 
        <form onsubmit="">
            <div class="loginPage">
                <div class="errorMessage">
                    <div class="ui error small message " style="">
                        <div class="header">Action Forbidden</div>
                        <p>You can only sign up for an account once with a given e-mail address.</p>
                    </div>
                </div>
                <div class="ui large form segment formBox">
                    <div class="two fields">
                        <div class="field">
                            <label>Username</label>
                            <input id="loginUsername" placeholder="username" type="text">
                        </div>
                       
                        <div class="field">
                            <label>Password</label>
                            <input id="loginPassword" placeholder="password" type="password">
                        </div>
                    </div>
                    <div class="buttonSize huge forgot bluetext" style="">            
                        <a class="item " href="#forgot"> Forgot Password?</a>           
                    </div> 
                    <div id="loginButton" class="blueButton button ui buttonSize  whitetext">       Login
                    </div>
                    {{#if isInRole 'admin'}}
                    <a class="item" href="#register">
                        <div id="haveAnAcc"  class="buttonBlue button ui buttonSize bluetext">        sign up         
                        </div>
                    </a>
                     {{/if}} 
                </div>                
            </div>                     
        </form >
    </div>
</template>