<template name="buttonSettings">
	{{#if buttonSettings}}
	<div class="overlay"></div>
	<div id="buttonSettings">
		<div class="buttonSettingsclose"><i class="remove icon bluetext floatRight"></i></div>
		<div class="ui large form segment formBox">
            <div class="two fields">
                <div class="field">
                	<div class="ui dropdown label">
                		<label>Select Room</label>
					  	<div class="text"></div>
					  	<i class="dropdown icon"></i>
					  	<div class="menu selectroom">
					  		{{#each room}}
						    	<li class="item">{{name}}</li>
						    {{/each}}
					  	</div>
					</div>
                </div>
                <div class="field">
					<label>Button Name <i class="pencil icon bluetext floatRight"></i></label>
					<input id="" placeholder="new name" type="text" readonly="" class="ButtonName">
				</div> 
				<div class="field">
					<div class="ui dropdown label">
                		<label>Type</label>
					  	<div class="text"></div>
					  	<i class="dropdown icon"></i>
					  	<div class="menu selectType">
					  		<li id="tubeLight" class="item">Tube Light</li>
					  		<li id="bulb" class="item">Bulb</li>
					  		<li id="fan" class="item">Fan</li>
					  		<li id="ac" class="item">A.C.</li>
					  		<li id="tv" class="item">T.v.</li>
					  		<li id="music" class="item">Music</li>
					  		<li id="power" class="item">Power</li>
						</div>
					</div>
				</div> 
                
				<!-- <div class="field">
					<label>File <i class="save icon bluetext floatRight"></i></label>
					<input id="" placeholder="0" type="file" >
				</div>   --> 
				<div class="field hidden">
                    <label>id </label>
                    <input id="" placeholder="" type="text" value="">
                </div>          
            </div>
        </div> 
	</div>
	{{/if}}
</template>